/* Import Colors */

@import '../config/colors.css';

/* Import Fonts */

/* Logo */

@font-face {
	font-family: "Dancing Script";
	src: url("../fonts/DancingScript-SemiBold.ttf") format("truetype");
	font-weight: 600;
}

/* Title */

@font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
	font-weight: 600;
}

/* Link */

@font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins-Medium.ttf") format("truetype");
	font-weight: 500;
}

/* Text */

@font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins-Regular.ttf") format("truetype");
	font-weight: 400;
}

/* Input */

@font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins-Light.ttf") format("truetype");
	font-weight: 300;
}

/* General */

html {
	font-family: "Poppins", Arial, Helvetica, sans-serif;
	font-weight: 400;
	color: var(--text-dark);
	scroll-behavior: smooth;
}

body {
	background-color: var(--background-color);
}

a {
	transition: .5s;
}

/* Sidebar */

.sidebar {
	position: fixed;
	height: 100%;
	width: 300px;
	background-color: var(--primary);
	padding-top: 50px;
}

.sidebar h2 {
	font-family: "Dancing Script";
	font-weight: 600;
	color: var(--text-light);
	font-size: 32px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
}

.sidebar a {
	font-family: "Poppins";
	font-weight: 500;
	color: var(--text-light);
	font-size: 16px;
	text-decoration: none;	
}

.sidebar a:hover {
	color: var(--hover-link);
}

.sidebar li {
	padding: 20px;
}

.sidebar-container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}

.logo {
	width: 92px;
	height: 92px;
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

/* Content */

.content {
	position: absolute;
	left: 300px;
	width: calc(100% - 300px);
}

.content h3 {
	font-family: "Poppins";
	font-weight: 600;
	color: var(--primary);
	font-size: 32px;
	margin-bottom: 30px;   
}

section {
	padding-left: 50px;
}

/* Banner */

.section-banner {
	padding-left: 0;
}

.banner {
	height: 500px;
	background-image: url('../img/banner-1.jpg');
	background-position: center;
	background-size: cover;
}

/* Welcome */

#section-welcome h3 {
	margin-top: 50px;
}

#section-welcome::after, #section-about::after {
	content: "";
	display: block;
	clear: both;
	margin-bottom: 100px;
}

.section-tinybanner {
	width: 300px;
	height: 400px;
	background-image: url('../img/banner-2.jpg');
	background-position: center;
	background-size: cover;
	float: left;
}

.section-description {
	position: absolute;
	left: 370px;
	padding-right: 30px;
}

.section-description p {
	line-height: 1.8;
	font-size: 16px;
	margin-bottom: 10px;
	margin-left: 30px;
}

.section-welcome-btn, form input[type=submit] {
	font-family: "Poppins";
	font-weight: 300;
	background-color: var(--primary);
	color: var(--text-light);
	font-size: 16px;
	text-decoration: none;
	padding: 20px 40px;
	transition: .5s;
	display: block;
	width: 120px;
	text-align: center;
	border: none;
	cursor: pointer;
	margin-left: 30px;
}

.section-welcome-btn:hover, form input[type=submit]:hover {
	background-color: var(--hover-btn);
}

/* About */

#section-about .section-tinybanner {
	float: right;
    margin-right: 40px; 
	background-image: url('../img/banner-3.jpg');
}

#section-about .section-description {
	position: absolute;
    left: 20px;
	width: calc(100% - 400px);
}

/* Gallery */

.banner-gallery {
	background-position: center;
	background-size: cover;
	display: inline-block;
	height: 200px;
}

#section-traditional, #section-miniature, #section-special {
	padding-right: 40px;
	margin-bottom: 50px;
}

.traditional {
	width: 18.8%;
	margin-left: .5%;
	margin-right: .5%;
}

#img1 {
	background-image: url('../img/image-1.jpg');
	margin-left: 0;
}

#img2 {
	background-image: url('../img/image-2.jpg');
}

#img3 {
	background-image: url('../img/image-3.jpg');
}

#img4 {
	background-image: url('../img/image-4.jpg');
	background-position: bottom;
}

#img5 {
	background-image: url('../img/image-5.jpg');
	margin-right: 0;
}

.miniature {
	width: 32.3%;
	margin-left: .5%;
	margin-right: .5%;
}

#img6 {
	background-image: url('../img/image-6.jpg');
	margin-left: 0;
}

#img7 {
	background-image: url('../img/image-7.jpg');
}

#img8 {
	background-image: url('../img/image-8.jpg');
	margin-right: 0;
}

.special {
	width: 23.9%;
	margin-left: .5%;
	margin-right: .5%;
}

#img9 {
	background-image: url('../img/image-9.jpg');
	margin-left: 0;
}

#img10 {
	background-image: url('../img/image-10.jpg');
}

#img11 {
	background-image: url('../img/image-11.jpg');
}

#img12 {
	background-image: url('../img/image-12.jpg');
	margin-right: 0;
}

/* Contact */

#form-contact {
	width: 500px;
}

#form-contact input[type=text], #form-contact input[type=email], #form-contact textarea {
	display: block;
	border: 1px solid var(--primary);
	padding: 10px;
	margin-bottom: 20px;
	width: 100%;
	font-family: "Poppins";
	font-weight: 300;
	color: var(--text-dark);
	font-size: 16px;
}

#form-contact input[type=text]:focus, #form-contact input[type=email]:focus, #form-contact textarea:focus {
	border: 1px solid var(--hover-btn);
    box-shadow: 0 0 3px var(--hover-btn);
    outline-offset: 0px;
    outline: none;
}

#form-contact textarea {
	height: 150px;
}

#form-contact ::placeholder {
	color: var(--placeholder);
}

#form-contact input[type=submit] {
	margin-left: 0;
	width: 140px;
	padding-top: 15px;
	padding-bottom: 15px;
}

/* Footer */

footer {
	height: 40px;
	padding-top: 100px;
	font-family: "Poppins";
	font-weight: 300;
	color: var(--primary);
	font-size: 18px;
}

footer p {
	text-align: center;
}

footer span {
	font-family: "Poppins";
	font-weight: 600;
}

#year {
	font-family: "Poppins";
	font-weight: 300;
}
