/* General */

html {
	font-family: 'Roboto', 'sans-serif';
	color: #220716;
}

a {
	transition: .5s;
}

/* Sidebar */

.sidebar {
	position: fixed;
	height: 100%;
	width: 300px;
	background-color: #D84797;
	padding-top: 40px;
}

.sidebar h2 {
	color: #FBEEF5;
	font-size: 26px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
}

.sidebar a {
	color: #FBEEF5;
	text-decoration: none;
	font-size: 16px;
}

.sidebar a:hover {
	color: #3ABEFF;
}

.sidebar li {
	padding: 20px;
}

.sidebar-container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}

.logo {
	width: 100px;
	height: 100px;
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
