:root {
    --primary: #D84797;
    --background-color: #F8DDEC;
    --text-light: #FBEEF5;
    --text-dark: #440D2C;
    --hover-btn: #A8246D;
    --hover-link: #F5C13D;
    --placeholder: #E689BC;
}
